/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(124, 141, 218);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  font-family: Georgia, serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 100;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  background-color: #535bf2;
  border:1px dotted #535bf2;
  color:#ffffff;
}

.register-wrapper, .login-wrapper {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  text-align: center;
  margin: 0 20px;
}

.logo {
  border: 1px solid black;
  background-color: #535bf2;
}

#logo-image {
  width: 50px;
  margin-right: 5px;
  margin-left: 10px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.single-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 10px;
}

.product-card {
  width: 500px;
  height: 500px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  overflow: scroll;
}

.singleproduct-card {
  width: 800px;
  height: 800px;
  margin: 10px;
  overflow: scroll;
}

.product-details {
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  text-align: center;
  margin: 0 20px;
}

.product-image {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin: 60px 90px;
}

.singleproduct-image {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin: 50px 90px;
}

button {
  font-family:Arial, Helvetica, sans-serif;
  
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

